<!-- 페이지가 없을경우 새로 만들 것인지 확인 -> 새로만들기 페이지로 이동 -->
<%= (wt 'There is no such page', :default => 'There is no such page. Do you want to <a href="%{new_url}">create it</a>?', :new_url => wiki_page_new_path).html_safe %>
